body {
  text-align: center;
  font-family: sans-serif;
  background-color: #fff;
}

.welcome button,
.game button {
  border: 1px solid #000;
  background: white;
  padding: 4px 12px;
  cursor: pointer;
}

.holes {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.hole {
  width: 100px;
  height: 70px;
  background: url("/hole.png") no-repeat center;
  background-size: contain;
  position: relative;
}

.mole {
  width: 100px;
  height: 100px;
  background: url("/mole.png") no-repeat center;
  background-size: contain;
  position: absolute;
  top: -60px;
  left: 0;
  cursor: pointer;
}

.game-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
